# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Data (important for your project)
01-dataSets/
*.csv
*.parquet

# Logs
*.log